.header{
    width: 100%;
    padding: 4px 0px;
    border-bottom: 1px solid #DCDCDC;
    height: 50px;
}
.headerSearch{
    position: absolute;
    width: 400px;
    margin-left: 50%;
    left: -200px;
    display: flex;
}
.headerSearchInp{
    width: 350px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #DCDCDC;
    font-size: 19px;
}
.headerSearchInp:focus{
    outline: none;
}
.headerSearchBut{
    width: 40px;
    height: 40px;
    background-color: #3667DD;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
}
.headerSearchButImg{
    width: 30px;
    margin: 5px;
    filter: invert(1)
}
.signinImg{
    height: 35px;
    margin: 7.5px 30px;
    position: absolute;
    right: 0px;
    opacity: 0.5;
}
.userPhoto{
    height: 45px;
    margin: 0px 30px;
    position: absolute;
    right: 0px;
    display: none;
}