.profileFlexBox{
    width: 800px;
    margin-top: 20px;
    margin-left: 50%;
    position: relative;
    left: -400px;
    display: flex;
}
.profileBl{
    width: 800px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 50%;
    position: relative;
    left: -400px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 10px #DCDCDC;
    display: flex;
}
.profilePhoto{
    width: 50px;
    height: 50px;
    border-radius: 2px;
    margin-left: 30px;
}
.profileInfoLogin{
    font-size: 23px;
    margin-left: 30px;
    margin-top: 12px;
}
.profileChange{
    width: 15px;
    height: 15px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.profileBl2{
    width: 396px;
    padding: 10px;
    margin-left: 15px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 10px #DCDCDC;
    display: flex;
}
.profileBl2Sp{
    margin-top: 13px;
    font-size: 18px;
    margin-left: 20px;
    transform: scale(1.2);
    cursor: pointer;
    transition: all 0.3s ease;
    color: #3667DD;
}
.profileBl2Sp2{
    margin-top: 13px;
    font-size: 18px;
    margin-left: 29px;
    cursor: pointer;
}
.vaccanciesButs{
    margin-left: 50%;
    position: relative;
    left: -400px;
    bottom: -1px;
    display: flex;
    margin-top: 20px;
}
.vaccanciesBut{
    position: relative;
    background-color: white;
    width: 150px;
    border-top: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
    border-left: 1px solid #DCDCDC;
    border-bottom: 1px solid white;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    z-index: 2;
    text-align: center;
    font-size: 19px;
    cursor: pointer;
    transition: all 0.1s ease;
}
.vaccancies{
    width: 800px;
    margin-left: 50%;
    margin-bottom: 50px;
    position: relative;
    left: -400px;
    display: flex;
    background-color: white;
    border: 1px solid #DCDCDC;
    padding: 10px 0px;
}
.profileNoneError{
    width: 100%;
    margin-top: 30px;
    font-size: 25px;
    text-align: center;
    display: 'none';
}
.resumeCreate{
    width: 200px;
    text-align: center;
    padding: 4px 0px;
    margin-left: 50%;
    position: relative;
    left: -100px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}
.vaccanciesCreate:hover{
    color: black;
}
.resume{
    margin: 20px 70px;
    min-height: 200px;
}
.resumePhoto{
    width: 300px;
    margin-right: 20px;
}
.resumeNameBl{
    display: flex;
    margin-top: 5px;
}
.resumeNameSp{
    width: 150px;
    font-weight: 600;
}
.resumeNameField{
    width: 240px;
    word-break: break-all;
}
.resumeAddit{
    margin-bottom: 20px;
}
.resumeChangeBut{
    width: 18px;
    position: absolute;
    top: 5px; 
    right: 5px;
    cursor: pointer;
}