.vacancyPosition{
    font-size: 30px;
    margin: 30px 10% 0px 10%;
    width: 80%;
}
.vacancyCompany{
    margin-left: 10%;
    margin-top: 20px;
    width: 80%;
}
.vacancyPart{
    margin-left: 10%;
    width: 80%;
}
.vacancyDate{
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10%;
}
.vacancyRespond{
    width: 140px;
    background-color: #3667DD;
    border-radius: 3px;
    color: white;
    margin-left: 10%;
    padding: 4px 0px;
    text-align: center;
    cursor: pointer;
}